@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/InterRegular.woff') format('woff'),
         url('../fonts/InterRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Korataki';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/KoratakiRegular.woff') format('woff'),
         url('../fonts/KoratakiRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/LatoBold.woff') format('woff'),
         url('../fonts/LatoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/LatMedium.woff') format('woff'),
         url('../fonts/LatMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/LatoRegular.woff') format('woff'),
         url('../fonts/LatoRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/LatoSemiBold.woff') format('woff'),
         url('../fonts/LatoSemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Rouble';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url("../fonts/Rouble.woff2") format("woff"),
      url("../fonts/Rouble.woff") format("woff2");
}