.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;

	&__logo {
		display: block;
		width: 217px;
		height: 57px;

		@media (max-width: $vw-1599) {
			width: 141px;
			height: 36px;
		}
	}

	&__burger {
		display: none;
		cursor: pointer;

		@media (max-width: $vw-1599) {
			display: block;
			position: absolute;
			top: 19px;
			right: 39px;
			width: 24px;
			height: 24px;

			span {
				display: block;
				width: 24px;
				height: 2px;
				background-color: $color-seal-brown;
				transition: 0.3s;
				cursor: pointer;
				border-radius: 5px;
				margin-bottom: 3px;
			}

			&_opened {
				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 10px;
					right: 0;
					display: block;
					width: 20px;
					height: 3px;
					background-color: $color-seal-brown;
					z-index: 1;
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}
			}
		}

		@media (max-width: $vw-767) {
			top: 17px;
			right: 28px;
	   }
	}
}