// Colors
$color-seal-brown: #231815;
$color-persimmon: #E45302;
$color-grey: #808080;
$color-white-smoke: #F5F5F5;
$color-black: #000000;
$color-white: #ffffff;
$color-nero: #1A1A1A;

// Fonts
$ff-inter: "Inter", "Arial", sans-serif;
$ff-korataki: "Korataki", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;
$ff-roboto: 'Roboto', 'Arial', 'sans-serif';

// Font sizes
$fs-16: 16px;
$fs-18: 18px;
$fs-22: 22px;
$fs-24: 24px;
$fs-32: 32px;

// Viewports
$vw-1920: 1920px;
$vw-1919: 1919px;
$vw-1600: 1600px;
$vw-1599: 1599px;
$vw-767: 767px;